{#
/**
 * @file
 * Default theme implementation to display a block.
 *
 * Available variables:
 * - plugin_id: The ID of the block implementation.
 * - label: The configured label of the block if visible.
 * - configuration: A list of the block's configuration values.
 *   - label: The configured label for the block.
 *   - label_display: The display settings for the label.
 *   - provider: The module or other provider that provided this block plugin.
 *   - Block plugin specific settings will also be stored here.
 * - content: The content of this block.
 * - attributes: array of HTML attributes populated by modules, intended to
 *   be added to the main container tag of this template.
 *   - id: A valid HTML ID and guaranteed unique.
 * - title_attributes: Same as attributes, except applied to the main title
 *   tag that appears in the template.
 * - title_prefix: Additional output populated by modules, intended to be
 *   displayed in front of the main title tag that appears in the template.
 * - title_suffix: Additional output populated by modules, intended to be
 *   displayed after the main title tag that appears in the template.
 *
 * @see template_preprocess_block()
 *
 * @ingroup themeable
 */
#}

{%
    set classes = [
        'block',
        'block--' ~ plugin_id | clean_class,
        'block--' ~ configuration.provider | clean_class,
    ]
%}

{% set data_parent_id = 'block--accordion--' ~ plugin_id | clean_class %}

<div{{ attributes.addClass(classes) }}>
    {{ title_prefix }}
    {% if label %}
    <h2{{ title_attributes }}>{{ label }}</h2>
    {% endif %}
    {{ title_suffix }}

    <div id="{{ data_parent_id }}" class="accordion">
        {% for key, item in content.field_accordion if key matches '/^[0-9]+/' %}
        {% set aria_labelledby_id = data_parent_id ~ '--' ~ item['#paragraph'].id.value ~ '--card-header' %}
        {% set data_target_id = data_parent_id ~ '--' ~ item['#paragraph'].id.value ~ '--card-body' %}
        <div class="card">
            <div class="card-header" id="{{ aria_labelledby_id }}">
                <h2 class="mb-0">
                    <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#{{ data_target_id }}" aria-expanded="true" aria-controls="{{ data_target_id }}">
                        {{ item['#paragraph'].field_card_header.value }}
                    </button>
                </h2>
            </div>
            <div id="{{ data_target_id }}" class="collapse" aria-labelledby="{{ aria_labelledby_id }}" data-parent="#{{ data_parent_id }}">
                <div class="card-body">
                    {% for _key, _item in item['#paragraph'].field_card_body if _key matches '/^[0-9]+/' %}
                    {{ drupal_entity('paragraph', _item.target_id) }}
                    {% endfor %}
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
